* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leaflet-container {
  display: flex;
  justify-content: center;
  color: white;
}

.countries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  border-bottom: 5em;
  justify-content: center;
  align-items: center;
}

input[type="text"],
select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 60%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.airport-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.airport-list > div > * {
  margin: 0 1em;
}
